{% extends "base.html" %}
{% block content %}
    <div>
        Para regresar a la calculadora, haga Click
        <a href="/"> aquí.</a>
    </div>
    <br>
    <h1>Cálculos de honorarios</h1>
    <br>
    <div>Honorarios: ${{ valores.hon }}</div> <br>
    <div>IVA: {{ valores.iva_valor }}</div><br>
    <div>R_IVA: {{ valores.riva }}</div><br>
    <div>R_ISR: {{ valores.risr }}</div><br>
    <div>Subtotal: ${{ valores.sub1 }}</div><br>
    <div>Neto: ${{ valores.neto1 }}</div><br>
    <br>

{% endblock %}